.paginator-button {
  font-family: inherit;
  // padding: 5px 12px;
  margin: 0px 3px;
  font-size: 12px;
  cursor: pointer;
  // min-width: 50px;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #555;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.paginator-button:active,
.paginator-button:focus {
  outline: none;
}

.paginator-button:disabled {
  background-color: #E8E8E8;
  cursor: default;
  border: none;
}

.paginator-dots {
  padding: 5px 9px;
  margin: 0 3px;
  color: #555;
  cursor: pointer;
}
