:host {
  display: block;
  padding-top: 1px;
  .tgrid {
    height: 300px;
    overflow-y: scroll;
    margin-top: 32px;
  }
  .tgrid > table {
    border-collapse: collapse;
    border: none;
    font-size: 14px;
    &.tgrid-with-detail {
      & .tgrid-row {
        cursor: pointer;
        &:hover {
          background-color: #f6f6f6;
        }
      }
    }
    & > thead {
      & tr {
        border-bottom: 1px #E8E8E8 solid;
        background-color: #E8E8E8;
        border-radius: 8px;
      }
      & th {
        white-space: pre;
        text-align: left;
        font-weight: normal;
        line-height: 0;
        height: 0;
        padding: 0;
        & .tgrid-column-container {
          background-color: #E8E8E8;
          position: absolute;
          display: flex;
          height: 34px;
          width: 100%;
          top: 0;
          align-items: center;
          padding: 8px;
          box-sizing: border-box;
          line-height: normal;
        }
        &.tgrid-column-sortable {
          cursor: pointer;
          &:hover {
            color: #cb11ab;
            & .tgrid-column-name {
              border-color: #cb11ab;
            }
          }
          & .tgrid-column-name {
            border-bottom: 1px black dashed;
          }
        }
      }
    }
    & > tbody {
      overflow:auto;
      height:200px;
      & tr.tgrid-row {
        border-bottom: 1px #E8E8E8 solid;
        &.tgrid-row-selected {
          background-color: burlywood;
        }
        &.tgrid-row-expanded {
          background-color: #cb11ab;
          color: white;
        }
      }
      & .tgrid-row-detail td {
        padding: 0;
      }
      & td {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        border: none;
        width: 1%;
        white-space: nowrap;
        &:last-child {
          width: 0.000001%;;
        }
      }
    }
  }
  .tgrid-paginator {
    display: block;
    margin-top: 12px;
  }
}
